[submodule "backend"]
	path = backend
	url = https://github.com/xueqigoh/snip-workshop-day1.git
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/xueqigoh/snip-workshop-day1.git
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/xueqigoh/snip-workshop-day1.git
	branch = cli
